<!DOCTYPE html>
<html lang="en">


<head>

	<link rel="stylesheet" type="text/css" href="./fullpage.js/jquery.fullPage.css">

	<link rel="stylesheet" type="text/css" href="./css/landing-page.css">

	<link href="css/bootstrap.min.css" rel="stylesheet">

	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Bitter|Julius+Sans+One|Muli|Raleway|Ubuntu" rel="stylesheet">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

 	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.22/angular.js"></script>

    <script src="js/instafeed.js"></script>

	<script type="text/javascript" src="./fullpage.js/jquery.fullPage.js"></script>

	<script type="text/javascript" src="examples.js"></script>

	 <script src="js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
    		$('#fullpage').fullpage({
    			continuousVertical: true,
    			navigation: true,
				navigationPosition: 'right',
				navigationTooltips: ['Landing', 'Software', 'Resume','Travel'],
				sectionsColor: ['none','#fff', '#f8f8f8', '#fff'],

    		});
			});
	</script>

</head>


<body>


<div id="fullpage">
    <div class="section" id="section0">
    	    <div class="intro-header1">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Armstrong O'Neal</h1>
                        <hr class="intro-divider">
                        <h3>Software + Travel</h3>
<a href="#angular" class="btn btn-lg btn-primary"></span> Read On</a>
<!--                         <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://instagram.com/jaredoneal" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/jaredoneal" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>



    </div>
    <div class="section">    <div class="content-section-a">
        <div class="container">
            
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">I Build Websites.</h2>
                    <p class="lead">I specialize in building mobile responsive websites for businesses to help project brands into the hands of consumers. I spend most of my time working in JavaScript with a particular emphasis on AngularJS. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img id="angular" class="img-responsive" src="img/Angular2.png" alt="">
                </div>
            

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->    </div>
    <div class="section">

<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">I Create Exposure.</h2>
                    <p class="lead">My experience lies not only in web development, but search engine optimization, digital marketing, copywrite, and content creation. I have certificates in both Google Analytics and Google AdWords.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/googleanalytics.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    </div>
    <div class="section">
    <div id="instabox">
<div ng-app="instafeed" class="ng-scope">
    <div id="instafeed"><section ng-controller="ShowImages as images">
            <header>
            </header>

            <ul ng-show="layout == 'grid'" class="grid">
                <!-- A view with big photos and no text -->
                <li ng-repeat="p in pics">
                    <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.low_resolution.url}}" /></a>
                </li>
            </ul>
            <ul ng-show="layout == 'list'" class="list">
                <!-- A compact view smaller photos and titles -->
                <li ng-repeat="p in pics">
                    <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.thumbnail.url}}" /></a>
                    <p>{{p.caption.text}}</p>
                </li>
            </ul>
        </section></div></div>
        <div id="traveltext">
        <h2>Travel Text</h2>
        <p>Travel text Travel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel textTravel text</p>
        </div>

        </div></div>
</div>


</body>





</html>
	</style>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jared O'Neal Portfolio Page</title>
	<meta name="author" content="Jared O'Neal" />

	<!-- Special thanks to Alvaro Trigo for his work with fullPage.js -->
	
