@font-face{
	font-family: Montserrat-Bold;
	src: url('./Montserrat-Bold.otf');
}

@font-face{
	font-family: Montserrat-Light;
	src: url('./Montserrat-Light.otf');
}

html, body {
	width: 100%;
	padding: 0;
	margin:0;
  min-width: 600px;
}

.header,
.content,
.footer {
  padding-left: 250px;
  padding-right: 250px;
}


body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: #ffffff;
}

.footer {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat-Light;
  color: #636977;
  flex-grow: 1;
}

.header {
	height: 100px;
	background-color: #ffffff;
	display:flex;
	align-items: center;
	box-shadow: 0px 1px 0 #85c7c2;
}


.header a {
	display: flex;
	color: #636977;
	font-size: 18pt;
	font-family: Montserrat-Bold;
	padding: 0px 30px;
	text-decoration: none;
}

.header a:active{
  margin-top:2px;
}

.header_item {
  padding: 5px;
}

.image_logo {
  flex-grow: 1;
}

.content {
	flex-grow: 1;
	background-color: #0a8e84;
	color: white;
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
  min-height: 800px;
}

.phone {
	flex: 1;
  background-image: url("./phone1.png");
  background-size:  contain;
  background-repeat:  no-repeat;
  background-position:  100%;
  min-width: 200px;
}

.text_container > * {
  margin: 5px;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
  flex: 2;
}

.text_container .title {
  font-size: 2.4em;
  font-weight: bold;
  font-family: Montserrat-Bold;
}

.text_container .desc {
  font-size: 1.1em;
  color: #e7e7e7;
  font-family: Montserrat-Light;
  padding-right: 30px;
  padding-top:  1.5em;
  padding-bottom: 1.5em;
  margin-right: 10%;
  line-height: 1.5em;
}

.text_container .button {
  padding: 15px;
  border: 3px solid #e7e7e7;
  align-self: flex-start;
  cursor: pointer;
  font-family: Montserrat-Bold;
  font-size: 1.2em;
  
}

.text_container .button:active{
  padding: 17px;
}

.text_container .button:hover {
  background-color: rgba(255, 255, 255, .4);  
}

.footer_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.footer_item .title {
  font-size: 1.4em;
  font-family: Montserrat-Bold;
  color: #636977;
}

.footer_item .button {
  cursor: pointer;
  border: 2px solid #777777;
  color: #636977;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left:   25px;
  padding-right: 25px;   
  font-family: Montserrat-Bold;
  font-size: 1.2em;
}

.footer_item .desc {
  text-align:   center;
  font-size: 1.4em;
  line-height: 1.3em;
  padding: 10px;
}

.footer_item .button:hover {
  background-color: #e7e7e7;
}

.footer_item .button:active {
  margin-top:   2px;
}

.footer_item > * {
  margin: 3px;
}