<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js Instant Search</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
</head>
<body>

<form id="main" v-cloak>
 <v-toolbar dark class="primary">
    <v-toolbar-side-icon></v-toolbar-side-icon>
    <v-toolbar-title class="white--text">Title</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon>
      <v-icon>search</v-icon>
    </v-btn>
    <v-btn icon>
      <v-icon>apps</v-icon>
    </v-btn>
    <v-btn icon>
      <v-icon>refresh</v-icon>
    </v-btn>
    <v-btn icon>
      <v-icon>more_vert</v-icon>
    </v-btn>
  </v-toolbar>
  </v-app>
</div>

    <div class="bar">
        <!-- Create a binding between the searchString model and the text field -->
        <input type="text" v-model="searchString" placeholder="Search for a beer" />
    </div>


    <v-app id="inspire">
    <div class="content-wrapper">
    <v-expansion-panel>
    <v-expansion-panel-content v-for="beer in filteredBeers">
      <div slot="header"><img v-bind:src="beer.image" /> <p>{{beer.name}}</p></div>
      <v-card>
        <v-card-text class="grey lighten-3">
        <p>Desc: {{beer.snippet}}</p>
        <p>ABV: {{beer.abv}}</p>
        <p>IBU: {{beer.ibu}}</p>
        <p>SRM: {{beer.srm}}</p>
        </v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
  </div>
  </v-app>
</div>

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
<script src="js/instantsearch.js"></script>
<script src="js/vuecharts.js"></script>

</body>
</html>
